<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            (click)="onSelect('recipe')"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('shop')"
            >Shopping List</a
          >
        </li>
      </ul>
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Manage</mat-label>
    <mat-select>
      <mat-option></mat-option>
      <mat-option *ngFor="let option of manage" [value]="option.value">{{
        option.value
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</nav>
