<div class="row" style="margin-bottom: 50px; margin-right: 180px">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success">Save</button>
          <button class="btn btn-danger" style="margin-left: 10px">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="name" class="form-label" style="font-weight: 600"
            >Name</label
          >
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
          />

          <div class="mb-3">
            <label for="imageUrl" class="form-label" style="font-weight: 600"
              >Image URl</label
            >
            <input
              formControlName="imagePath"
              class="form-control"
              id="exampleFormControlTextarea1"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img src="" class="img-responsive" />
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label" style="font-weight: 600"
          >Description</label
        >
        <textarea
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          rows="3"
        ></textarea>
      </div>
      <div formArrayName="ingredients">
        <div
          class="row"
          *ngFor="let ctrl of controls; let i = index"
          [formGroupName]="i"
          style="margin-top: 10px"
        >
          <div class="col-6">
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col-2">
            <input
              type="number"
              class="form-control"
              formControlName="amount"
            />
          </div>
          <div class="col-4">
            <button mat-raised-button color="warn">X</button>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12">
            <button
              mat-raised-button
              color="primary"
              (click)="onAddIng()"
              type="button"
            >
              Add Ingredient
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
