<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Recipe:</mat-card-title>
    <mat-card-subtitle>{{ recipe.name }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ recipe.imagePath }}"
    alt="{{ recipe.name }}"
    style="max-height: 300px"
  />
  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="background-color: lightgrey" (click)="onShop()">
      Shop Ingred.
    </button>
    <button mat-button style="background-color: lightgrey" (click)="onEdit()">
      Edit Recipe
    </button>
    <button mat-button style="background-color: lightgrey" (click)="onDelete()">
      Delete Recipe
    </button>
  </mat-card-actions>
</mat-card>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody *ngFor="let ing of recipe.ingredients">
    <tr>
      <td>{{ ing.name }}</td>
      <td>{{ ing.amount }}</td>
    </tr>
  </tbody>
</table>
