<div class="row">
  <div class="col-12">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <!-- <ul class="list-group" style="margin-left: -40px">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let i of (ingredients | async).ingredients; let ind = index"
        (click)="onEdit(ind)"
        >{{ i.name }} ({{ i.amount }})
      </a>
    </ul> -->
    <mat-list
      role="list"
      *ngFor="let i of (ingredients | async).ingredients; let ind = index"
      (click)="onEdit(ind)"
    >
      <mat-list-item role="listitem" style="cursor: pointer"
        >{{ i.name }} ({{ i.amount }})
      </mat-list-item>
    </mat-list>
  </div>
</div>
