<a class="list-group-item clearfix" (click)="onSelectRecipe()">
  <div style="float: left">
    <h4
      class="list-group-item list-group-item-action active"
      aria-current="true"
    >
      {{ recipe.name }}
    </h4>
    <p class="list-group-item list-group-item-action">
      {{ recipe.description }}
    </p>
  </div>
  <span style="float: right">
    <img
      src="{{ recipe.imagePath }}"
      alt="{{ recipe.name }}"
      class="img-fluid"
      style="max-height: 70px"
  /></span>
</a>
